.font{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}
.head{
    width: 100%;
    height: 288px;
    background-color: #292E36;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    width: 295px;
    height: 73px;
    border: 2px;
    margin: 20px;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn_1{
    background-color: #E1B168;
    color: #292E36;
}
.btn_2{
    background-color: #292E36;
    color: #E1B168;
    border: 2px solid;
}
.btn_1:hover{
    background-color: #292E36;
    color: #E1B168;
    border: 1px white solid;
    transition: 1s;
}
.btn_2:hover{
    background-color: #E1B168;
    color: #292E36;
    border: 1px white solid;
    transition: 1s;
}
.textb{
    display: flex;
    justify-content: center;
}

.textb2{
    display: flex;
    color: white;
    justify-content: center;
}
.pl{
    width: 100%;
    height: 82px;
    background-color: #292E36;
    display: flex;


}
.font2{
    font-family: 'Josefin Sans', sans-serif;
    color: #E1B168;
    margin: 20px;
}
.fontpl{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 40px;
}
.pl2{
    width: 100%;
    height: 3px;
    background-color: gray;
}
.pl3{
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.pl4{
    
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: flex-end
    
}
.imgpl{
    margin: 10px;
}
.hi{
    width: 100%;
    height: 810px;
    background-color: #292E36;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.hi2{
    width: 655px;
    margin: 20px;
}
.fonthi{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 70px;
}
.btn_3{
    background-color: #292E36;
    color: #E1B168;
    border: 2px #E1B168 solid ;
    
}
.btn_4{
    color: #E1B168;
    border: 2px #E1B168 solid ;
    
}
.btn_4:hover{
    background-color: #E1B168;
    color: white;
    border: 1px white solid;
    transition: 1s;
}
.btn_3:hover{
    background-color: #E1B168;
    color: #292E36;
    border: 1px white solid;
    transition: 1s;
}
.buttonhi{
    width: 295px;
    height: 73px;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cont{
    width: 100%;
    height: 243px;
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}
.fontconhi{
    font-family: 'Josefin Sans', sans-serif;
    color: #292E36;
    font-size: 20px;
}
.fontcon{
    font-family: 'Josefin Sans', sans-serif;
    color: #292E36;
}
.cont1{
    width: 380px;
    height: 83px;
    display: flex;
    justify-content: space-around;
}
.cont2{
    width: 380px;
    height: 83px;
    display: flex;
    justify-content: space-around;
}
.cont3{
    width: 380px;
    height: 83px;
    display: flex;
    justify-content: space-around;
}
.deli{
    width: 100%;
    height: 728px;
    display: flex;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}
.deli2{
    width: 50%;
    height: 728px;
    display: flex;
}
.fontdelihi{
    font-family: 'Josefin Sans', sans-serif;
    color: #292E36;
    font-size: 40px;
}
.deli23{
    display: flex;
}
.Menu{
    width: 100%;
    height: 1724px;
    display: flex;
    padding: 10px;
}
.menu2{
    width: 491px;
    height: 955px;
}
.fontz{
    font-family: 'Josefin Sans', sans-serif;
    color: #E1B168;
}
.fontB{
    font-family: 'Josefin Sans', sans-serif;
}
.menu3{
    width: 818px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.men{
    display: flex;
    align-items: flex-end;
}
.tst{
    width: 100%;
    height: 634px;
    background-color: #292E36;
}
.fontdelihi1{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 40px;
}
.tst2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.of{
    width: 100%;
    height: 784px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.of2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.of3{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.mn{
    width: 100%;
    height: 884px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.mn1{
    width: 350px;
    height: 447px;
}
.mn2{
    display: flex;
    justify-content: space-around;
}
.mn3{
    width: 100%;
    height: 489px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding-left: 60px;
}
.wo{
    width: 100%;
    height: 515px;
    background-color: #292E36;
    display: flex;
    align-items: center;
}
.r3{
    width: 100%;
    height: 150px;
}
.wo2{
    width: 100%;
    height: 235px;
    display: flex;
    justify-content: space-around;
}
.wo3{
    width: 448px;
    height: 214px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
